<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiosensing</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/icon.svg" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- navbar sections starts  -->
    <header class="header">
        <div class="logo">
            <img src="/static/images/icon.svg" alt="logo-bookmark">
        </div>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#features">Features</a>
            <a href="#download">Detect</a>
            <!-- <a href="#footer">Contact</a> -->
            
            <!-- <a href="#" class="btn">Log in</a> -->
        </nav>


        <div class="fas fa-bars" id="menu-btn"></div>
    </header>
    <!-- navbar sections starts  -->

   
    <!-- home section stars  -->

    <section class="home" id="home">
        <div class="content">
            <h1>Heart Movement Detector</h1>
            <p> &#x25A0; Welcome to our Heart Detection Web Page!</p>
            <p>&#x25A0; Whether you're a fitness enthusiast tracking workouts, a medical professional seeking diagnostic tools, or just curious about your heart's well-being, we have tailored sections for you.</p>
            <p>&#x25A0;  Explore personalized fitness insights, medical-grade diagnostics, user-friendly interfaces, and connect with a supportive community. </p>
            <!-- <a href="#" class="home-btn">get it on chrome</a> -->
        </div>


        <div class="image">
            <!-- <img src="images/illustration-hero.svg" alt="illustration-hero"> -->
            <img src="/static/images/heart.jpg" >
        </div>
    </section>

    <!-- home section ends -->

    <!-- features sectin starts  -->

    <section class="home" id="features">
        <div class="image">
            <img src="/static/images/feature.jpeg "alt="illustration-hero">
        </div>
        <div class="heading">
            <h1>Features</h1>
            <p>&#x25A0; Discover the cutting-edge features that make our Heart Detection Web Page a standout in cardiovascular health.</p>
            <p>&#x25A0;  From real-time heart rate monitoring and personalized fitness recommendations to medical-grade diagnostics for healthcare professionals, our platform offers advanced algorithms, intuitive interfaces, and community support.</p>
            <p>&#x25A0; Dive into a world of innovation where technology meets heart health, empowering you to take control of your well-being.</p>
                
        </div>
        



        <section class="download" id="download">
            <div class="heading" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1>Pick your Interest</h1>
                <p>
                    &#x25A0; Choose your focus and embark on a personalized journey to enhance your heart health.</p>
                <p> &#x25A0;Dive into our fitness-centric tools for real-time monitoring during workouts, or explore sophisticated diagnostics tailored for medical professionals. </p>
            </div>
                <img src="/static/images/flat-lay-notepad-with-heart-shape-stethoscope_23-2148635214.jpg" alt="" style="width: 600px; height: 400px; padding-left: 100px;">
            </div>
    
    
    
            <div class="box-container" style="display: flex; justify-content: space-between;">
                <div class="box" style="width: 30%;">
                    <img src="/static/images/Research_paper.jpg" alt="logo-chrome">
                    <h3>Research Papers</h3>
                    <p>Know more from the research papers</p>
                    <a href="https://www.techrxiv.org/users/691273/articles/682004-a-heart-movement-detector-based-on-machine-learning-to-analyze-the-motion-and-rhythms-of-the-human-heartbeat" class="all-btn">Read</a>
                </div>
            
                <div class="box" style="width: 30%;">
                    <img src="/static/images/detect.gif" alt="logo-firefox">
                    <h3>Detect</h3>
                    <p>Detect your own pulse</p>
                    <a href="/redirect_detect" class="all-btn">Click Me</a>
                </div>
            
                <div class="box" style="width: 30%;">
                    <img src="/static/images/world.jpg" alt="logo-opera">
                    <h3>Know More</h3>
                    <p>Recommendation from WHO</p>
                    <a href="https://www.who.int/publications/i/item/WHO-NMH-NVI-18-5" class="all-btn">Suggest</a>
                </div>
            </div>
        </section>


    <!-- downloads section ends -->



    <!-- footer section starts  -->

   <section class="footer" id="footer"> 
       <!-- <div class="box-container">
           <div class="box">
               <h3>quick links</h3>
               <a href="#"><i class="fas fa-chevron-right"></i>home</a>
               <a href="#"><i class="fas fa-chevron-right"></i>features</a>
               <a href="#"><i class="fas fa-chevron-right"></i>download</a>
               <a href="#"><i class="fas fa-chevron-right"></i>contact</a>
            </div>  -->
            
            
            <!-- <div class="box">
                <h3>our services</h3>
                <a href="#"><i class="fas fa-chevron-right"></i>bookmark extension</a>
                <a href="#"><i class="fas fa-chevron-right"></i>chrome themes</a>
                <a href="#"><i class="fas fa-chevron-right"></i>firefox themes</a>
                <a href="#"><i class="fas fa-chevron-right"></i>screen recorder extension</a>
                <a href="#"><i class="fas fa-chevron-right"></i>screen shot extension</a>
           </div> -->

           <!-- <div class="box">
               <h3>contact info</h3>
               <a href="#"><i class="fas fa-phone"></i>+123-456-789</a>
               <a href="#"><i class="fas fa-phone"></i>+111-222-3333</a>
               <a href="#"><i class="fas fa-envelope"></i>company@example.com</a>
               <a href="#"><i class="fas fa-envelope"></i>company@example.com</a>
               <a href="#"><i class="fas fa-map-marker-alt"></i>Mumbai, india - 12345</a>
           </div> -->

           <!-- <div class="box">
               <h3>follow us</h3>
               <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
               <a href="#"><i class="fab fa-twitter"></i>facebook</a>
               <a href="#"><i class="fab fa-instagram"></i>instagram</a>
               <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
               <a href="#"><i class="fab fa-pinterest"></i>pinterest</a>
           </div>
       </div> -->


       <div class="credit">created by
           <a href="#" target="_blank"><span>Our Group</span> | all rights reserved</a>
       </div>
   </section>

    <!-- footer section ends -->


    <script src="/static/js/main.js"></script>
</body>

</html>